.container {
    position: relative;
    top: 30px;
}

.title {
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

.input[type="email"] {
    width: 100%;
    padding: 25px;
    border-radius: 5px;
}

.input[type="password"] {
    width: 100%;
    padding: 25px;
    border-radius: 5px;
}

/* .inputGroup {
    margin: 15px;
} */

/* .rmlabel {
    font-size: 12px;
} */

/* .input[type="submit"]{
    background-color: red;
} */