.check {
  background-color:black;
}

.new {
  color: red;
}

.input {
     
  position: relative;
  width: 100%;
  z-index: 1;
  font-family: Raleway-SemiBold;
  font-size: 16px;
  color: red;
  display: block;
  width: 50%;
  background:red;
  height: 45px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
  margin-left:60px;
  margin-bottom: 40px;

}